.iconWrapper {
  flex-shrink: 0;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  object-fit: cover;
}

.iconPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  font-size: 1rem;
  color: #fff;
  background: #ccc;
}
